.image-body{
    width: calc(100% - 300px);
    height: 100%;
    border-style: ridge;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.3);
    background-color: white;
}

.image-container{
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 10px;
    height: 100%;
    overflow: scroll;
}